body{
    margin: 0px!important;
}

.search {
    position: relative;
    /* right: 10rem; */
    border-radius: 15px;
    border-color: black;
    padding: 5px;
    background: #f1f1f1;
    border: 1px solid #c7c1c1;
    font-size: 16px;
}

input.search:focus-visible {
    border: none;
}

.search-image{
    /* position: absolute; */
    color: black;
    position: absolute;
    top: 5px;
    right: 9px;


}
.logoBold{
    font-size: 30px;font-weight: 700;}



.Signin{
   /* rgin-right: 40px; */
   border-radius: 20px;
   /* padding: 10px; */
   padding-left: 25px;
   padding-right: 25px;
   color: white;
   background: #00325c;
   padding-top: 7px;
   padding-bottom: 7px;

}
i.fa-solid.fa-user {
    padding-right: 5px;
}
.p-12{
    padding-right: 12px;
    padding-left: 12px;

}
.p-relative{
    position:relative;}

.navbar-brand{
    font-size: 20px;
    font-weight: 200;
    
}
.carousel-indicators button{
    border-radius: 50% !important;
    background-color: black !important;
    height: 20px !important;
    width: 20px !important;
}
.main h2{
    text-align: center;
    position: relative;
   
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.mc-01{
    position: absolute;

}

.mc-images {
    position: relative;
    padding-right: 10px;

}
.overlay{
position: absolute;
width: 100%;
height: 230px;
left: 0px;
top: 80px;
background: linear-gradient(180deg, rgba(39, 65, 86, 0) 0%, #274156 100%);
opacity: 0.5;
}
.main categories {
    position: relative;

}

.mc-images::after {
    /* content: ""; */
    position: absolute;
    width: 192px;
    bottom: 0;
    height: 150px;
    background: linear-gradient(180deg, rgba(39, 65, 86, 0) 0%, #274156 100%);
    opacity: 0.5;
}
.mc-types h6{
position: absolute;
bottom: 0;
left: 0;
right: 0;
color: white;
font-size: 15px !important;
z-index: 2;
text-align: center;
}
.best{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Selling-image {
    position: relative;
}

.sel-num {
        position: absolute;
        left: 15px;
        top: 15px;
}


/* .review{ */
    /* display: grid;
    grid-template-columns: 0.75fr auto auto auto auto;
    gap: 9px; */
/* }  */
.rev-center {
    position: relative;
    left: 12px;
}
.rv-image {
    margin: -8px;
}

.rev-center h3{
    position: relative;

}
.rev-img [alt=back]{
    position: absolute;
    top: 10rem;
    left: 5rem;
}

.rev-star{
     gap: 20px;
    color: #F2C94C;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.rev-star span{
      color: #1D1C1F; 
}
.insta{ 
    display: flex;
    justify-content:center ;
}

.insta-head h3::after {
    /* content: ""; */
    position: absolute;
    background-color: #274156;
    width: 40px;
    padding: 1px;
    top: 20px;
    right: 435px;
}

.insta-head h3::before {
    /* content: ""; */
    position: absolute;
    background-color: #274156;
    width: 40px;
    padding: 1px;
    top: 20px;
    left: 435px;
}

.img-card{
    position: relative;
    /* margin: 9px; */
    gap: 9px;
    margin-right: 9px;
    margin-top: 10px;
}
.insta-firstrow{ 
   display: flex;
   gap: 10px;
   padding-top: 50px;
  } 

.insta{
    position: relative;
   
}
.insta-secondrow{
    display: flex;
    gap: 10px;
    position: relative;
}

.blue {
    position: relative;
}


.blue img {
    opacity: 0.1;
}

.blue::before {
    position: absolute;
    content: "";
    background-color: #274156;
    width: 100%;
    height: 100%;
}

.insta-link a {
    position: absolute;
    color: #f1f1f1;
    top: 100px;
    left: 50px;

}

.centerfour {
    position: absolute;
    top: -28px;
}
.foot{
    display:flex;
    justify-content: space-around;
    background: linear-gradient(0deg, #274156, #274156),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: white;
    
}  
.social i{
    font-size: 25px;
}
.CEO {
    text-align: center;
    background: linear-gradient(0deg, #274156, #274156),
    linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    color: white;

}
hr{

    color: white;

}
.footer{
    background: linear-gradient(
0deg
, #274156, #274156), linear-gradient(
0deg
, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
    

}


/* media query */
@media screen and (max-width: 768px) {
    .m-rep {
      display: block !important;
     text-align: center;
    }
    .blue::before{
        width: 63%;
    }
    /* navbar */
    .search{
        display: none;
    }
    .Signin{
        display: none;
    }
     /* Section-1 */


     img[alt~="girl-mobile"] {
        display: block !important;
    }

    img[alt~="girl"] {
        display: none !important;
    }

    /* Section-3 */

img[alt~="w-leg"] {
    display: none !important;
}
  }
  @media (max-width: 1199.98px)
  { 
    .rev-star i{
        font-size: 15px;
        
    }
  }
    

  